certifi
chardet
cycler
idna
joblib
kiwisolver
matplotlib
multitasking
numpy
pandas
Pillow
pyparsing
python-dateutil
pytz
requests
scikit-learn
scipy
six
threadpoolctl
tqdm
urllib3
yfinance